* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
}

.nav-links a {
  text-decoration: none;
}

.dropdown {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    top: 50px;
    right: 1em;
    width: 150px;
    height: 200px;
    color: black;
  }
  .nav-links a {
    font-size: 20px;
  }

  .dropdown {
    display: block;
  }

  .nav-links.active {
    display: flex;
  }
}
